<div class="tab skills"
     data-group="primary"
     data-tab="skills">
     <ol class="skill-list">
        {{#each data.skills as |skill|}}
        <li class="skill flexrow" data-item-id="{{skill.id}}">
            <h3 class="skill-name">{{skill.name}}:</h3>
            <input type="number" class="skill-rank"
                   id="{{skill.id}}-rank"
                   value="{{skill.rank}}"
                   placeholder="Rank"
                   />
            +
            <input type="number"
                   value="{{skill.attribute_modifier}}"
                   placeholder="Attribute Modifier"/>
            =
            <input type="number" class="total"
                   value="{{skill.total}}"
                   placeholder="Total">
            &nbsp;
            <a class="skill-roll" id="{{skill.name}}-roll">Roll</a>
        </li>
        {{/each}}
    </ol>
</div>