<form class="flexcol {{cssClass}}" autocomplete="off">

    {{> "systems/alpha/templates/parts/sheet-item-header.html" }}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="common">Common</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{> "systems/alpha/templates/parts/sheet-item-description.html" }}

        <div class="tab common" data-group="primary" data-tab="common">
            <div class="item-sheet">
                {{> "systems/alpha/templates/parts/sheet-item-common.html" }}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="resource">
                <div class="item-value">
                    <div class="item-value--label">
                        <div class="label--title">AR</div>
                    </div>
                    <input type="number"
                           data-dtype="Number"
                           id="rating"
                           name="data.rating.value"
                           value="{{data.rating.value}}" />
                </div>
                <div class="item-value">
                    <div class="item-value--label">
                        <div class="label--title">Hazard</div>
                    </div>
                    <input type="number"
                           data-dtype="Number"
                           id="hazard"
                           name="data.hazard.value"
                           value="{{data.hazard.value}}" />
                </div>
                <div class="item-value">
                    <div class="item-value--label">
                        <div class="label--title">Sealed</div>
                    </div>
                    <input type="checkbox"
                           name="data.sealed.value"
                           {{#if data.sealed.value}}
                           checked
                           {{/if}}
                           />
                </div>
            </div>
        </div>
    </section>
</form>
