<form class="flexcol {{cssClass}}" autocomplete="off">

    {{> "systems/alpha/templates/parts/sheet-item-header.html" }}

    <div class="extra-resource">
        <h3>
            <a class="attack-roll">Attack Roll</a> /
            <a class="aimed-attack-roll">Aimed Attack Roll</a>
        </h3>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="common">Common</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="advanced">Advanced</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{> "systems/alpha/templates/parts/sheet-item-description.html" }}

        {{> "systems/alpha/templates/parts/sheet-item-common.html" }}

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="resource">
                <div class="character-value">
                    <div class="character-value--label">
                        <div class="label--title">AP</div>
                    </div>
                    <input type="number"
                           data-dtype="Number"
                           id="ap"
                           name="data.ap.value"
                           value="{{data.ap.value}}" />
                </div>
                <div class="character-value">
                    <div class="character-value--label">
                        <div class="label--title">Damage</div>
                    </div>
                    <input type="number"
                           data-dtype="Number"
                           id="damage"
                           name="data.damage.value"
                           value="{{data.damage.value}}" />
                </div>
                <div class="character-value">
                    <div class="character-value--label">
                        <div class="label--title">Attack Bonus</div>
                    </div>
                    <input type="number"
                           data-dtype="Number"
                           id="attack_bonus"
                           name="data.attack_bonus.value"
                           value="{{data.attack_bonus.value}}" />
                </div>
                <div class="character-value">
                    <div class="character-value--label">
                        <div class="label--title">Range</div>
                    </div>
                    <input type="number"
                           data-dtype="Number"
                           id="range"
                           name="data.range.value"
                           value="{{data.range.value}}" />
                </div>
                <div class="character-value">
                    <div class="character-value--label">
                        <div class="label--title">Salvo</div>
                    </div>
                    <input type="number"
                           data-dtype="Number"
                           id="salvo"
                           name="data.salvo.value"
                           value="{{data.salvo.value}}" />
                </div>
                <div class="character-value">
                    <div class="character-value--label">
                        <div class="label--title">Ammo</div>
                    </div>
                    <input type="number"
                           data-dtype="Number"
                           id="ammo"
                           name="data.ammo.value"
                           value="{{data.ammo.value}}" />
                </div>
                <div class="character-value">
                    <div class="character-value--label">
                        <div class="label--title">Magazines</div>
                    </div>
                    <input type="number"
                           data-dtype="Number"
                           id="magazines"
                           name="data.magazines.value"
                           value="{{data.magazines.value}}" />
                </div>
            </div>
            <div class="resource">
                <p>
                    <label>Throwable:</label>
                    <input type="checkbox"
                           name="data.throwable.value"
                           {{#if data.throwable.value}}
                           checked
                           {{/if}}
                           />
                </p>
            </div>
        </div>

        <div class="tab advanced" data-group="primary" data-tab="advanced">
            <div class="resource">
                <p>
                    <label>Skill:</label>
                    <input type="text" name="data.skill.value"
                           value="{{data.skill.value}}">
                </p>
            </div>
        </div>
    </section>
</form>
