.item-sheet {
  display: grid;
  gap: 10px;
  grid-template-columns: 200px 1fr;

  .item-traits {
    text-align: left;
    border: 2px solid black;
  }

  .item-trait {
    display: grid;
    gap: 10px;
    grid-template-columns: 40px 1fr;
    align-items: center;
    font-size: 14pt;
    margin: 5px;

    &--active {
      text-align: center;
    }
  }
}

.item-value {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  float: left;
  margin: 2px;
}
.item-value--label {
  background: black;
  color: white;
  width: 100%;

  .label--title {
    font-size: 10pt;
  }
}
