<header class="sheet-header">
    <img class="profile-img"
         src="{{item.img}}"
         data-edit="img"
         title="{{item.name}}" />
    <div class="header-fields">
        <h1 class="charname">
            <input name="name"
                   type="text"
                   value="{{item.name}}"
                   placeholder="Name" /></h1>

        <div style="display: flex; flex-wrap: nowrap;">
            <div class="character-value">
                <div class="character-value--label">
                    <div class="label--title">Quantity</div>
                </div>
                <input type="text"
                       name="data.quantity.value"
                       value="{{data.quantity.value}}"
                       style="text-align: center;" />
            </div>
            <div class="character-value">
                <div class="character-value--label">
                    <div class="label--title">Weight</div>
                </div>
                <input type="text"
                       name="data.weight.value"
                       value="{{data.weight.value}}"
                       style="text-align: center;" />
            </div>
        </div>
    </div>
</header>