<div class="tab common" data-group="primary" data-tab="common">
    <div class="resource">
        <p>
            <label>Resources</label>
            <input type="text"
                   name="data.resources.value"
                   value="{{data.resources.value}}" />
        </p>
        <p>
            <label>Value</label>
            <input type="text"
                   name="data.value.value"
                   value="{{data.value.value}}" />
        </p>
        <p>
            <label>Bulky</label>
            <input type="number"
                   name="data.bulky.value"
                   value="{{data.bulky.value}}" />
        </p>
        <p>
            <label>Rapidfire</label>
            <input type="number"
                   name="data.rapidfire.value"
                   value="{{data.rapidfire.value}}" />
        </p>
        <p>
            <label>Heavy</label>
            <input type="number"
                   name="data.heavy.value"
                   value="{{data.heavy.value}}"/>
        </p>
    </div>
    <div class="resource">
        <p>
            <label>Area Effect</label>
            <input type="checkbox"
                   name="data.areaeffect.value"
                   value="{{data.areaeffect.value}}"
                   {{#if data.areaeffect.value}}
                   checked
                   {{/if}}
                   />
        </p>
        <p>
            <label>Parry</label>
            <input type="checkbox"
                   name="data.parry.value"
                   value="{{data.parry.value}}"
                   {{#if data.parry.value}}
                   checked
                   {{/if}}
                   />
        </p>
        <p>
            <label>Cumbersome</label>
            <input type="checkbox"
                   name="data.cumbersome.value"
                   value="{{data.cumbersome.value}}"
                   {{#if data.cumbersome.value}}
                   checked
                   {{/if}}
                   />
        </p>
        <p>
            <label>Reliable</label>
            <input type="checkbox"
                   name="data.reliable.value"
                   value="{{data.reliable.value}}"
                   {{#if data.reliable.value}}
                   checked
                   {{/if}}
                   />
        </p>
        <p>
            <label>Small</label>
            <input type="checkbox"
                   name="data.small.value"
                   value="{{data.small.value}}"
                   {{#if data.small.value}}
                   checked
                   {{/if}}
                   />
        </p>
        <p>
            <label>Sniper</label>
            <input type="checkbox"
                   name="data.sniper.value"
                   value="{{data.sniper.value}}"
                   {{#if data.sniper.value}}
                   checked
                   {{/if}}
                   />
        </p>
    </div>
</div>
