<header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img"
         title="{{item.name}}" />
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text"
                   value="{{item.name}}"
                   placeholder="Name" /></h1>
        <div class="small-resource">
            <label>Quantity</label>
            <input type="text"
                   name="data.quantity.value"
                   value="{{data.quantity.value}}" />
        </div>
        <div class="small-resource">
            <label>Weight</label>
            <input type="text"
                   name="data.weight.value"
                   value="{{data.weight.value}}" />
        </div>
        <div class="small-resource">
            <label>RES</label>
            <input type="text"
                   name="data.resources.value"
                   value="{{data.resources.value}}" />
        </div>
        <div class="small-resource">
            <label>VAL</label>
            <input type="text"
                   name="data.value.value"
                   value="{{data.value.value}}" />
        </div>
    </div>
</header>
